* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia;
    overflow-y: overlay;
}
#header {
    padding-top: 20px;
    font-size: 24px;
    color: #353535;
    background-color: #FBF7ED;
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1600px;
    margin: auto;
    padding-bottom: 20px;
}
.header-title {
    display: flex;
    align-items: center;
    margin-right:auto;
    margin-left: 70px;

}
.header-title span{
    padding-left: 20px;
    font-size: 45px;
    
}
#header nav{
    margin-left:auto;
    margin-right: 70px;
}
#header nav a{
    margin-left: 70px;
    text-decoration: none;
    color: #353535;
}
#header nav a:hover{
    text-decoration: underline overline;
}
.star-section{
    background: #FBF7ED;
    max-width: 1500px;
    margin: auto;
    padding: 10px 50px 50px 50px;
}
.container{
    background-image: #FBF7ED;
    border-radius: 10px;
}
.star-container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border-radius: 20px;
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url(images/starry-sky-pattern.jpg);
}
.star{
    border-radius: 100%;
    position: absolute;
    background-color: rgb(103, 232, 255);
    border: 0;
}
.star:hover {
    box-shadow: 0 0 12px 10px rgb(103, 232, 255);
}
.constellation-container{
    position: absolute;
    flex-shrink: 0;
}
.constellation{
    position: relative;
    width: 780px;
    height: 700px;
    left: 0px;
    top: 0px;
}
.starinfocontainer{
    width: 650px;
    height: 700px;
    color: white;
    padding: 0px 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.starname{
    text-align: center;
    font-size: 80px;
}
.starinfo{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.instruction{
    position: absolute;
    left: 250px;
    top: 50px;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 10px;
}
.imgcontainer{
    justify-content: center;
    display: none;
    margin: auto;
}
.imgcontainer img{
    width: 400px;
    height: 100%;
    border-radius: 10px;
    margin: 50px 25px 50px 25px;
}
.imgcontainer2{
    justify-content: center;
    display: none;
}
.imgcontainer2 img{
    width: 800px;
    border-radius: 10px;
    margin: 50px 25px 50px 25px;
}
.calcul-section{
    max-width: 1400px;
    background: #050020;
    margin: auto;
    display: none;
    padding: 100px;
}
.calcul-text{
    text-align: center;
    color: #FBF7ED;
}
.calcul-text h1{
    font-size: 50px;
}
.calcul-text p{
    margin: 20px 0 100px 0;
    font-size: 18px;
}
.btn1{
    width: 20px;
    height: 20px;
    left: 112px;
    top: 602px;
    box-shadow: 0 0 12px 5px rgb(103, 232, 255);
}
.btn2{
    width: 12px;
    height: 12px;
    left: 200px;
    top: 615px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn3{
    width: 12px;
    height: 12px;
    left: 210px;
    top: 558px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn4{
    width: 12px;
    height: 12px;
    left: 160px;
    top: 508px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn5{
    width: 18px;
    height: 18px;
    left: 99px;
    top: 227px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn6{
    width: 18px;
    height: 18px;
    left: 150px;
    top: 144px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn7{
    width: 14px;
    height: 14px;
    left: 228px;
    top: 190px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn8{
    width: 14px;
    height: 14px;
    left: 310px;
    top: 360px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn9{
    width: 18px;
    height: 18px;
    left: 400px;
    top: 450px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn10{
    width: 10px;
    height: 10px;
    left: 467px;
    top: 507px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn11{
    width: 12px;
    height: 12px;
    left: 558px;
    top: 481px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn12{
    width: 18px;
    height: 18px;
    left: 685px;
    top: 298px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.btn13{
    width: 12px;
    height: 12px;
    left: 740px;
    top: 100px;
    box-shadow: 0 0 12px 3px rgb(103, 232, 255);
}
.line{
    position: absolute;
    background-color: white;
    height: 2px;
}
.con1{
    width: 80px;
    left: 120px;
    top: 615px;
    transform: rotate(6deg)
}
.con2{
    width: 60px;
    left: 181.5px;
    top: 590px;
    transform: rotate(-82deg)
}
.con3{
    width: 105px;
    left: 91px;
    top: 565px;
    transform: rotate(-67deg)
}
.con4{
    width: 80px;
    left: 152px;
    top: 540px;
    transform: rotate(45deg);
}
.con5{
    width: 280px;
    left: -3px;
    top: 370px;
    transform: rotate(78deg);
}
.con6{
    width: 100px;
    left: 86px;
    top: 190px;
    transform: rotate(-59deg);
}
.con7{
    width: 90px;
    left: 150px;
    top: 173px;
    transform: rotate(30deg);
}
.con8{
    width: 180px;
    left: 185px;
    top: 278px;
    transform: rotate(64deg);
}
.con9{
    width: 130px;
    left: 295px;
    top: 410px;
    transform: rotate(45deg);
}
.con10{
    width: 80px;
    left: 398px;
    top: 482px;
    transform: rotate(41deg);
}
.con11{
    width: 90px;
    left: 470px;
    top: 499px;
    transform: rotate(-16deg);
}
.con12{
    width: 210px;
    left: 524px;
    top: 395px;
    transform: rotate(-54deg);
}
.con13{
    width: 200px;
    left: 621px;
    top: 205px;
    transform: rotate(-76deg);
}
.footer{
    padding: 100px;
    max-width: 1400px;
    margin: auto;
    background: #FBF7ED;
    text-align: center;
}
.foot-link{
    text-decoration: none;
    color: #353535;
}